<h1>Hello World from EJS.</h1>

<p>I\'m Jacob.</p>

<p><%= myResultClient.length %></p>

<% for (var i=0; i< myResultClient.length; i++ ) { %>
    

<br>

<%= myResultClient[0].userName %>

<% } %>

<li> I\'m a ' <%= myTypeClient %>, I am helpful, sociable, and ambitious %></li>


<footer> sent from a file on my node server, yo!

    <a href="/send">send</a> |

    <a href="https://github.com/Rastifer/musical-potato-november.git" target="_blank">Source Code</a>

</footer>
